
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>

input{
margin-top:12px;
}
</style>
<body>
		<table>
				{% for test in tests %}
				<tr> 
						<td> {{ test.name }} </td>
						<td> {{ test.count }} </td>
						<td> <form> 
								{% if test.running %}
								<input type=submit formmethod="post" name="{{test.name}}" value='TURN OFF'>
								{% else %}
								<input type=submit formmethod="post" name="{{test.name}}" value='TURN ON'>
								{% endif  %}
							</form>
				</tr>
				{% endfor %}
		</table>
        <a href="/"><button>RELOAD COUNTS</button></a>
</body>
